header h1 {
  text-align: center;
  font-size: 55px;
}
.stratch-x {
  width: 100%;
}
.stratch-y {
  height: 100%;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.app-component .abst-box {
  position: absolute;
  top: -30px;
}
.app-component .logo {
  width: 250px;
}
.app-component .server-host {
  left: 40px;
  position: absolute;
  bottom: 0;
}
.app-component .row {
  margin-top: 10px;
}
.feed-wrapper {
  font-size: 20px;
  min-height: 700px;
}
.feed-wrapper .feed-image {
  width: 100px;
  height: 100px;
  border-radius: 25%;
}
.feed-wrapper .chart.chart-bar {
  width: 100%;
}
.feed-wrapper .feed-chart {
  max-height: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.feed-wrapper .feeds-row .feeds-panel {
  height: 600px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #fff;
}
.feed-wrapper .feeds-row .feeds-panel .feed {
  float: left;
  height: auto;
  width: 100%;
  border: 1px solid #ccc;
  overflow: visible;
  padding: 10px;
}
.feed-wrapper .feeds-row .feeds-panel .feed .text {
  font-size: 14px;
  text-align: left;
  font-style: italic;
}
.feed-wrapper .feeds-row .feeds-panel .feed .sentment {
  font-size: 11px;
  text-align: left;
}
.feed-wrapper .feeds-row .feeds-panel .feed .glyphicon-ok {
  color: lime;
}
.feed-wrapper .feeds-row .feeds-panel .feed .glyphicon-remove {
  color: red;
}
.feed-wrapper .feeds-row .feeds-panel:first-child {
  border-top: none;
}
.feed-wrapper .feeds-row .feeds-panel:last-child {
  border-bottom: none;
}
.feed-wrapper .topic-row {
  overflow: hidden;
  height: 200px;
}
@keyframes fadein {
  0% {
    height: 0;
    opacity: 0;
  }
  25% {
    height: auto;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 992px) {
  .feed-wrapper .feed-image {
    width: 100px;
    height: 100px;
  }
  .feed-wrapper .chart.chart-bar {
    width: 100%;
  }
  .feed-wrapper .feeds-row .feeds-panel .feed .text {
    font-size: 18px;
  }
  .feed-wrapper .feeds-row .feeds-panel .feed .sentment {
    font-size: 14px;
  }
  .feed-wrapper .topic-row {
    height: 200px;
  }
}
